/* Estilos específicos para la página de la historia */

/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1726; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para el encabezado */
.header {
    background-color: #2a223a;
    padding: 30px 0;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilos para el contenido de la historia */
.history-content {
    padding: 50px 0;
}

.history-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify; /* Alineación justificada */
}

/* Estilos para el texto de la historia */
.history-content p {
    color: #ffffff; /* Color blanco */
}

/* Estilos para el pie de página */
.footer {
    background-color: #2a223a;
    padding: 20px 0;
    justify-content: center; /* Centramos horizontalmente */
    text-align: center;
}

.footer p {
    font-size: 14px;
    margin: 0;
    text-align: center; /* Alineación centrada */
    color: white; /* Color blanco */
}
